<div id="header">
  <div id="header-content" class="row">
    <div id="left-part" class="col col-6">
      <div class="div-title">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path
            d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"
          ></path></svg>
        <h3>Escrow</h3>
      </div>
    </div>
    <div id="right-part" class="col col-6">
      <span><button
          id="connectButton"
          type="button"
          class="btn btn-primary"
          disabled
        >Connect</button></span>
    </div>
  </div>
</div>