<div class="base-container container" id="send-subject-container" style="display: none;">
    <main id="main">
    <div class="py-5 text-center deal-form">
        <h2>Send Subject</h2>
    </div>

    <div class="row g-5 deal-details">
        <div class="col-md-7">
        <h4 class="mb-3">Deal details</h4>
        <div class="form-check">
            <label class="form-check-label" for="switchRole">My Role: </label>
            <div class="container-sm">
            <input
                type="radio"
                class="btn-check buyer-role"
                name="options-outlined"
                id="buyer-role-send-sub"
                autocomplete="off"
                disabled
            />
            <label
                class="btn btn-outline-secondary"
                for="buyer-role-send-sub"
            >Buyer</label>

            <input
                type="radio"
                class="btn-check seller-role"
                name="options-outlined"
                id="seller-role-send-sub"
                autocomplete="off"
                disabled
            />
            <label
                class="btn btn-outline-secondary"
                for="seller-role-send-sub"
            >Seller</label>
        </div>
            <div class="row g-3">
            <div class="col-12">
                <label for="deal-seller-send-sub" class="form-label" id="deal-seller-label">Seller address</label>
                <input
                type="text"
                name="buyer"
                class="form-control text-container seller-address"
                id="deal-seller-send-sub"
                placeholder="Seller address"
                value=""
                readonly
                />
            </div>

             <div class="col-12">
                <label for="deal-buyer-send-sub" class="form-label" id="deal-buyer-label">Buyer address</label>
                <input
                type="text"
                name="buyer"
                class="form-control text-container buyer-address"
                id="deal-buyer-send-sub"
                placeholder="Buyer address"
                value=""
                readonly
                />
            </div>

            <div class="col-9">
                <label for="transaction-amount-send-sub" class="form-label">Value</label>
                <input
                type="text"
                name="value"
                class="form-control text-container transaction-value"
                id="transaction-amount-send-sub"
                placeholder="value"
                value=""
                readonly
                />
            </div>

            <div class="col-3">
                <label for="unit-send-sub" class="form-label">Unit</label>
                <input
                type="text"
                name="value"
                class="form-control text-container ether-unit"
                id="unit-send-sub"
                placeholder="Unit"
                value=""
                readonly
                />
            </div>
            </div>

            <hr class="my-4" />
            <h5 class="mb-3 mt-3">Fee payment: <span  class="fee"></span></h5>
            <hr class="my-4" />
            <button
            class="w-100 btn btn-primary btn-lg"
            id="send-sub-next"
            >Next</button>
            <button
            class="w-100 btn btn-primary btn-lg"
            id="send-sub-previous"
            >Previous</button>
        </div>
        </div>
        <div class="col-md-5">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">History</span>
        </h4>

        <ul class="list-group mb-3" id="history-list">
            <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="history-div">
                <h6
                class="text-container my-0"
                >0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266</h6>
                <small class="text-muted">pending</small>
            </div>
            <span class="text-muted">0.1 ETH</span>
            </li>
            <li
            class="list-group-item d-flex justify-content-between bg-light"
            >
            <div class="history-div text-success">
                <h6
                class="text-container my-0"
                >0x70997970C51812dc3A010C7d01b50e0d17dc79C8</h6>
                <small class="text-muted">1 day ago</small>
            </div>
            <span class="text-success">0.005 ETH</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
            <span>Total (ETH)</span>
            <strong>0.105 ETH</strong>
            </li>
        </ul>

        <form class="card p-2" id="tmp">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Address" />
            <button type="submit" class="btn btn-secondary">Filter</button>
            </div>
        </form>

        <button
            id="answerCreate-btn"
            class="w-100 btn btn-primary btn-lg"
        >Update history</button>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div
            id="liveToast"
            class="toast"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            >
            <div class="toast-body">
                <div
                class="alert alert-success toast-body-div"
                role="alert"
                id="toast-msg"
                >
                </div>
            </div>
            </div>
        </div>
    </div>
    </main>
</div>