<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="page">
      <div
        class="container-fluid"
        style="display: flex; flex-direction: column;"
      >
        <!-- First row -->
        <div
          class="row"
          style="margin-top: auto; background-color: rgb(83, 129, 255)"
        >
          <div
            class="col-xl-8 head"
            style="display: flex; flex-direction:initial;"
          >
            <div
              class="row"
              style="width: 80%; margin: auto; color: white; display: flex;"
            >

              <div class="col-xl-6"><p>Account:
                  <span
                    id="show-account"
                    style="font-size: 1rem"
                  ></span></p></div>
              <div class="col-xl-6"><p>Your balance:
                  <span
                    id="show-balance"
                    style="font-size: 1rem;"
                  ></span></p></div>
            </div>
          </div>
          <div class="col-xl-4 head" style="display: flex;">
            <a
              href="#"
              id="connectButton"
              class="btn"
              disabled=""
              style="margin: auto; margin-right: 10%"
            >Connect</a>
          </div>
        </div>
        <!-- Second row -->
        <div class="row" style="margin: auto 0;">
          <div class="col-md-8 body" style="background-color: grey;">
            <div class="container-sm" style="background-color: orange;">
              contract
            </div>
          </div>
          <div class="col-md-4 body" style="background-color: blue;">
            ...
          </div>
        </div>

      </div>
    </div>
  </body>
</html>

{{! <script
  src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
  type="application/javascript"
></script>
<script src="/js/EscrowProvider.js"></script> }}
{{! <link rel="stylesheet" href="/public/css/style.css"> }}