    <script
      src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
      type="application/javascript"
    ></script>
    <script src="/js/EscrowProvider.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>
    <title>MetaMask Auth</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>

    {{!-- <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/checkout/"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    /> --}}
    {{!-- <meta name="theme-color" content="#712cf9" /> --}}
    {{!-- <link href="form-validation.css" rel="stylesheet" /> --}}


    {{!-- <script
      src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
      type="application/javascript"
    ></script>
    <script src="/js/EscrowProvider.js"></script> --}}
    {{!-- <script src="/public/js/EscrowProvider.js"></script> --}}
</head>
<body>
    {{{body}}}
    {{!-- <button id="ajaxTest">Ajax</button>
    <button id="fetchTest">Fetch</button> --}}
    <script>
        $(document).ready(() => {
            $("#ajaxTest").click(() => {
                $.post("/request",
                    {
                        name: "viSion",
                        designation: "Professional gamer"
                    },
                    (data, status) => {
                        console.log(data);
                    });
            });
        });
    </script>
    <script>
        $(document).ready(() => {
            $("#fetchTest").click(async () => {
                const body = JSON.stringify({
                    name: "Atikin",
                    id: 5,
                });
                const headers = { 'Content-Type': 'application/json' };     
                
                try {
                    const resp = await fetch('/fetch', { method: 'post', body, headers });
                    if (resp.status < 200 || resp.status >= 300)
                        throw new Error('Запрос отклонен со статусом ${resp.status}');
                    const json = await resp.json();
                    console.log(json);
                } catch (e) {
                    console.log(e);
                }
            });
        });
    </script>
</body>
</html>