<script src="js/ethers-5.2.umd.min.js" type="application/javascript"></script>
<script src="/js/EscrowProvider.js"></script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.101.0" />
    <title>Checkout example · Bootstrap v5.2</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/checkout/"
    />

    <link
      href="css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body class="bg-light">

    <div class="base-container container">
      <main id="main">
        <div class="py-5 text-center deal-form">
          <h2>Deal creating form</h2>
          <p class="lead">Hey Yo!</p>
        </div>

        <div class="row g-5 deal-details">
          <div class="col-md-7">
            <h4 class="mb-3">Deal details</h4>
            <div class="form-check">
              <label class="form-check-label" for="switchRole">My Role: </label>
              <div class="container-sm">
                <input
                  type="radio"
                  class="btn-check"
                  name="options-outlined"
                  id="buyer-role"
                  autocomplete="off"
                  checked
                />
                <label
                  class="btn btn-outline-secondary"
                  for="buyer-role"
                >Buyer</label>

                <input
                  type="radio"
                  class="btn-check"
                  name="options-outlined"
                  id="seller-role"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-secondary"
                  for="seller-role"
                >Seller</label>
              </div>

              <div class="col-xl-6 div-address"><p id="address">My Address:
                  <span id="show-account"><button
                      id="connectButton"
                      type="button"
                      class="btn btn-primary"
                      disabled
                    >Connect</button></span></p></div>

            </div>
            <form class="needs-validation" novalidate id="create-deal-btn">
              <div class="row g-3">
                <div class="col-12">
                  <label
                    for="deal-partner"
                    class="form-label"
                    id="deal-partner-label"
                  >Seller address</label>
                  <input
                    type="text"
                    name="buyer"
                    class="form-control text-container"
                    id="deal-partner"
                    placeholder="Buyer address"
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid buyer address is required.
                  </div>
                </div>

                <div class="col-9">
                  <label for="value" class="form-label">Value</label>
                  <input
                    type="text"
                    name="value"
                    class="form-control text-container"
                    id="transaction-amount"
                    placeholder="value"
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid value is required.
                  </div>
                </div>

                <div class="col-3">
                  <label for="unit" class="form-label">Unit</label>
                  <select class="form-select" id="ether-unit" required>
                    <option>Wei</option>
                    <option>Gwei</option>
                    <option>Ether</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid unit.
                  </div>
                </div>
              </div>

              <hr class="my-4" />

              <button
                type="button"
                class="btn btn-primary"
                id="liveToastBtn"
              >Calculate fee</button>
              <h5 class="mb-3 mt-3">Fee payment</h5>

              <input
                type="radio"
                class="btn-check"
                name="options"
                id="option1"
                autocomplete="off"
                checked
              />
              <label class="btn btn-secondary" for="option1">50/50</label>

              <hr class="my-4" />

              <button
                class="w-100 btn btn-primary btn-lg"
                type="submit"
              >Create</button>
            </form>
          </div>
          <div class="col-md-5">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">History</span>
            </h4>

            <ul class="list-group mb-3" id="history-list">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="history-div">
                  <h6
                    class="text-container my-0"
                  >0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266</h6>
                  <small class="text-muted">pending</small>
                </div>
                <span class="text-muted">0.1 ETH</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between bg-light"
              >
                <div class="history-div text-success">
                  <h6
                    class="text-container my-0"
                  >0x70997970C51812dc3A010C7d01b50e0d17dc79C8</h6>
                  <small class="text-muted">1 day ago</small>
                </div>
                <span class="text-success">0.005 ETH</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (ETH)</span>
                <strong>0.105 ETH</strong>
              </li>
            </ul>

            <form class="card p-2" id="tmp">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Address" />
                <button type="submit" class="btn btn-secondary">Filter</button>
              </div>
            </form>

            <button
              id="answerCreate-btn"
              class="w-100 btn btn-primary btn-lg"
            >Update history</button>
          </div>
          <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div
              id="liveToast"
              class="toast"
              role="alert"
              aria-live="assertive"
              aria-atomic="true"
            >
              <div class="toast-body">
                <div
                  class="alert alert-success toast-body-div"
                  role="alert"
                  id="toast-msg"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

  </body>

  <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

  <script src="js/form-validation.js"></script>

  <script src="js/mainPage.js" type="module"></script>
</html>