<script
  src="cdn/ethers-5.2.umd.min.js"
  type="application/javascript"
></script>
<script src="/js/EscrowProvider.js"></script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.101.0" />
    <title>Checkout example · Bootstrap v5.2</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/checkout/"
    />

    <link
      href="cdn/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body class="bg-light">

    <div class="base-container container">
      <main>
        <div class="py-5 text-center deal-form">
          <h2>Deal creating form</h2>
          <p class="lead">Hey Yo!</p>
        </div>

        <div class="row g-5 deal-details">
          <div class="col-md-7">
            <h4 class="mb-3">Deal details</h4>
            <div class="form-check">
              <label class="form-check-label" for="switchRole">My Role: </label>
              <div class="container-sm">
                <input
                  type="radio"
                  class="btn-check"
                  name="options-outlined"
                  id="success-outlined"
                  autocomplete="off"
                  checked
                />
                <label
                  class="btn btn-outline-secondary"
                  for="success-outlined"
                >Buyer</label>

                <input
                  type="radio"
                  class="btn-check"
                  name="options-outlined"
                  id="danger-outlined"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-secondary"
                  for="danger-outlined"
                >Seller</label>
              </div>

              <div class="col-xl-6"><p id="address">My Address:
                  {{! <button
                    id="connectButton"
                    class="btn btn-primary btn-lg"
                    style="margin-left: 1rem"
                  >Connect Metamask</button> }}
                  <span id="show-account"></span></p></div>

            </div>
            <form class="needs-validation" novalidate id="create-deal-btn">
              <div class="row g-3">
                <div class="col-12">
                  <label for="buyerAddress" class="form-label">Buyer address</label>
                  <input
                    type="text"
                    name="buyer"
                    class="form-control"
                    id="create-buyer"
                    placeholder="Buyer address"
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid buyer address is required.
                  </div>
                </div>

                <div class="col-9">
                  <label for="value" class="form-label">Value</label>
                  <input
                    type="text"
                    name="value"
                    class="form-control"
                    id="transactionAmount"
                    placeholder="value"
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid value is required.
                  </div>
                </div>

                <div class="col-3">
                  <label for="unit" class="form-label">Unit</label>
                  <select class="form-select" id="unit" required>
                    <option value="">Unit</option>
                    <option>Wei</option>
                    <option>Gwei</option>
                    <option>Ether</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid unit.
                  </div>
                </div>
              </div>

              <hr class="my-4" />

              {{! feeBtn }}
              {{! <div id="feePlaceholder"></div> }}
              <button
                type="button"
                class="btn btn-primary"
                id="liveToastBtn"
              >Calculate fee</button>

              <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div
                  id="liveToast"
                  class="toast"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  <div class="toast-body" style="padding: 0;">
                    <div
                      class="alert alert-success toast-body-div"
                      role="alert"
                    >
                      Fee will be0.0070 ETH
                    </div>
                  </div>
                </div>
              </div>

              <h5 class="mb-3 mt-3">Fee payment</h5>

              <input
                type="radio"
                class="btn-check"
                name="options"
                id="option1"
                autocomplete="off"
                checked
              />
              <label class="btn btn-secondary" for="option1">50/50</label>

              <hr class="my-4" />

              <button
                class="w-100 btn btn-primary btn-lg"
                type="submit"
              >Create</button>
            </form>
          </div>
          <div class="col-md-5">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">History</span>
            </h4>

            {{! <div>
              <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
                <a class="navbar-brand" href="#">Navbar</a>
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading1">First</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading2">Second</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      data-bs-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-expanded="false"
                    >Dropdown</a>
                    <ul class="dropdown-menu">
                      <li><a
                          class="dropdown-item"
                          href="#scrollspyHeading3"
                        >Third</a></li>
                      <li><a
                          class="dropdown-item"
                          href="#scrollspyHeading4"
                        >Fourth</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li><a
                          class="dropdown-item"
                          href="#scrollspyHeading5"
                        >Fifth</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <div
                data-bs-spy="scroll"
                data-bs-target="#navbar-example2"
                data-bs-root-margin="0px 0px -40%"
                data-bs-smooth-scroll="true"
                class="scrollspy-example bg-light p-3 rounded-2"
                tabindex="0"
              >
                <h4 id="scrollspyHeading1">First heading</h4>
                <p>...</p>
                <h4 id="scrollspyHeading2">Second heading</h4>
                <p>...</p>
              </div>
            </div> }}

            <ul class="list-group mb-3" id="history-list">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6
                    class="my-0"
                  >0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266</h6>
                  <small class="text-muted">pending</small>
                </div>
                <span class="text-muted">0.1 ETH</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between bg-light"
              >
                <div class="text-success">
                  <h6
                    class="my-0"
                  >0x70997970C51812dc3A010C7d01b50e0d17dc79C8</h6>
                  <small class="text-muted">1 day ago</small>
                </div>
                <span class="text-success">0.005 ETH</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (ETH)</span>
                <strong>0.105 ETH</strong>
              </li>
            </ul>

            <form class="card p-2" id="tmp">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Address" />
                <button type="submit" class="btn btn-secondary">Filter</button>
              </div>
            </form>

            {{! <a
              href="#"
              id="connectButton"
              class="btn"
              disabled=""
              style="margin: auto; margin-right: 10%"
            >Connect</a> }}

            <button
              id="answerCreate-btn"
              class="w-100 btn btn-primary btn-lg"
            >Update history</button>
            <div class="col-xl-6">
              <p>Massage answer: <span id="answerCreate"></span></p><br />
            </div>
          </div>
        </div>
      </main>

      {{! <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2022 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer> }}
    </div>

    <script
      src="cdn/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script src="js/form-validation.js"></script>

    {{! <hr />

    <button type="submit" id="create-btn">Create</button>
    <h3>Transaction Create Status: <span id="create-status"></span></h3><br />

    <hr />

    <h2>Check deal</h2>
    <input
      type="text"
      name="buyer"
      id="deals-buyer"
      size="10"
      placeholder="buyer"
      value=""
    />
    <input
      type="text"
      name="seller"
      id="deals-seller"
      size="10"
      placeholder="seller"
      value=""
    />
    <br />
    <button type="submit" id="deals-btn">Check</button>
    <h3>Deal: <span id="deals-output"></span></h3><br />

    <hr />

    <h2>Send Money For Subject</h2>
    <input
      type="text"
      name="seller"
      id="sendB-seller"
      size="10"
      placeholder="seller"
      value=""
    />
    <input
      type="text"
      name="value"
      id="sendB-value"
      size="10"
      placeholder="value"
      value=""
    />
    <br />
    <button type="submit" id="sendB-btn">Send</button>
    <h3>Send Money For Subject Status: <span id="sendB-status"></span></h3><br
    />

    <hr />

    <h2>Send Subject</h2>
    <input
      type="text"
      name="buyer"
      id="sendS-buyer"
      size="10"
      placeholder="buyer"
      value=""
    /><br />
    <button type="submit" id="sendS-btn">Send</button>
    <h3>Send Subject Status: <span id="sendS-status"></span></h3><br />

    <hr />

    <h2>Cancel transaction</h2>
    <input
      type="text"
      name="buyer"
      id="cancel-buyer"
      size="10"
      placeholder="buyer"
      value=""
    />
    <input
      type="text"
      name="seller"
      id="cancel-seller"
      size="10"
      placeholder="seller"
      value=""
    /><br />
    <button type="submit" id="cancel-btn">Cancel</button>
    <h3>Transaction cancel Status: <span id="cancel-status"></span></h3><br />

    <hr />

    <h2>Approve transaction</h2>
    <input
      type="text"
      name="seller"
      id="approve-seller"
      size="10"
      placeholder="seller"
      value=""
    /><br />
    <button type="submit" id="approve-btn">Approve</button>
    <h3>Transaction Approve Status: <span id="approve-status"></span></h3><br />

    <hr />

    <h2>Disapprove transaction</h2>
    <input
      type="text"
      name="seller"
      id="disapprove-seller"
      size="10"
      placeholder="seller"
      value=""
    /><br />
    <button type="submit" id="disapprove-btn">Disapprove</button>
    <h3>Transaction Disapprove Status:
      <span id="disapprove-status"></span></h3><br />

    <hr />

    <h2>Withdraw</h2>
    <input
      type="text"
      name="target"
      id="withdraw-target"
      size="10"
      placeholder="target"
      value=""
    /><br />
    <button type="submit" id="withdraw-btn">Withdraw</button>
    <h3>Withdraw Status: <span id="withdraw-status"></span></h3><br />

    <hr /> }}
  </body>

  <script src="/js/SQLRequests.js" type="module"></script>
  <script src="/js/Toasts.js"></script>
  <script src="/js/AdditionalLogic.js"></script>
  <script src="/js/EscrowChain.js" type="module"></script>
</html>