<script
  src="js/ethers-5.2.umd.min.js"
  type="application/javascript"
></script>
<script src="/js/EscrowProvider.js"></script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.101.0" />
    <title>Checkout example · Bootstrap v5.2</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/checkout/"
    />

    <link
      href="css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body class="bg-light">

    {{> createDeal}}
    {{> sendMoney}}
    {{> sendSubject}}
    {{> approveTransaction}}

    <script
      src="js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script src="js/form-validation.js"></script>
  </body>

  <script src="js/mainPage.js" type="module"></script>
</html>