<h1>Test Metamask</h1>

<h3>Enter metamask wallet:</h3>
<button id="metamask-login">Enable Ethereum</button>

<button id="connectButton" disabled="">Connected</button>
<button id="getAccounts">Get Accounts</button>

<h3>Account: <span id="show-account"></span></h3>
<h3>Your balance: </h3>

<hr>

<h2>Request Premission</h2>
<button id="requestPermissions">Request Permissions</button><br>
<button id="getPermissions">Get Permissions</button><br>
<h3>Avaliable Permissions: <span id="permissionsResult"></span></h3><br>

<hr>

<h2>Create something</h2>
<input type="text" name="buyer" id="create-buyer" size="10">
<input type="text" name="seller" id="create-seller" size="10">
<input type="text" name="value" id="create-value" size="10"> <br>
<button type="submit" id="create-btn">Create</button>


<h2>Trade part</h2>
<form action="/sendB" method="post">
    <label for="sendB">Send for buyer</label>
    <input type="text" name="seller" id="sendB" size="10">
    <input type="submit" value="Send">
    {{!-- <button>Send</button> --}}
</form>

<form action="/sendS" method="post">
    <label for="sendS">Sens seller</label>
    <input type="text" name="buyer" id="sendS" size="10">
    <input type="submit" value="Seller">
</form>

<br>

<h2>Cansel part</h2>
<form action="/cancel" method="post">
    <label for="cancel"></label>
    <p>Buyer wallet:</p>
    <input type="text" name="buyer" id="cancel" size="10">
    <p>Seller wallet:</p>
    <input type="text" name="seller" id="cancel" size="10">
    <br>
    <input type="submit" value="Cancel">
</form>

<h2>Approve / Disapprove</h2>
<form action="/approve" method="post">
    <label for="approve"></label>
    <input type="text" name="seller" id="approve" size="10">
    <input type="submit" value="Approve">
</form>
<form action="/disapprove" method="post">
    <label for="disapprove"></label>
    <input type="text" name="seller" id="disapprove" size="10">
    <input type="submit" value="Disapprove">
</form>


<script>
    const btnMetamaskLogin = document.querySelector('#metamask-login');
    const showAccount = document.querySelector('#show-account');

    function sendRequest(data, rout) {
        const XHR = new XMLHttpRequest();
        const FD = new FormData();

        for (const [name, value] of Object.entries(data)) {
            console.log(name, value);
            FD.append(name, value);
            console.log(FD.getAll("account"));
            console.log(FD);
        }

        XHR.addEventListener("load", (event) => {
            console.log("Response loaded");
        })

        XHR.addEventListener("error", (event) => {
            console.log("Something went wrong");
        })

        XHR.open("POST", rout);
        XHR.send(FD);
    }

    btnMetamaskLogin.addEventListener('click', () => {
        if (typeof window.ethereum !== 'undefined') {
            getAccount();
            return;
        }
        showAccount.innerHTML = "MetaMask isn`t installed!";
    });

    async function getAccount() {
        const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        const _account = accounts[0];
        showAccount.innerHTML = _account;
        sendRequest({ "account": _account }, "/login");
    }
</script>

<script src="/js/EscrowChain.js"></script>