<h1>Test Metamask</h1>

{{!-- <form action="/login" method="post"> --}}
<h3>Enter metamask wallet:</h3>
{{!-- <input type="text" id="fieldEmail" name="account" style="block: hidden;"> --}}
<button id="metamask-login">Enable Ethereum</button>
{{!-- </form> --}}

<h3>Account: <span id="show-account"></span></h3>
<h3>Your balance: </h3>

<h2>Trade part</h2>
<input type="text" name="" id="cash" size="10">
<button>Send</button>

<script>
    const btnMetamaskLogin = document.querySelector('#metamask-login');
    const showAccount = document.querySelector('#show-account');

    function sendRequest(data) {
        const XHR = new XMLHttpRequest();
        const FD = new FormData();

        for (const [name, value] of Object.entries(data)) {
            FD.append(name, value);
            console.log(FD);
        }

        XHR.addEventListener("load", (event) => {
            console.log("Response loaded");
        })

        XHR.addEventListener("error", (event) => {
            console.log("Something went wrong");
        })

        XHR.open("POST", "/login");
        XHR.send(FD);
    }

    btnMetamaskLogin.addEventListener('click', () => {
        if (typeof window.ethereum !== 'undefined') {
            getAccount();
            return;
        }
        showAccount.innerHTML = "MetaMask isn`t installed!";
    });

    async function getAccount() {
        const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        const _account = accounts[0];
        showAccount.innerHTML = _account;
        sendRequest({ account: _account });
    }
</script>