<script
      src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
      type="application/javascript"
    ></script>
<script src="/js/EscrowProvider.js"></script>

<h1>Test Metamask</h1>

<h3>Enter metamask wallet:</h3>
<button id="metamask-login">Enable Ethereum</button>

<button id="connectButton" disabled="">Connected</button>
<button id="getAccounts">Get Accounts</button>

<h3>Account: <span id="show-account"></span></h3>
<h3>Your balance: </h3>

<hr>

<h2>Request Premission</h2>
<button id="requestPermissions">Request Permissions</button><br>
<button id="getPermissions">Get Permissions</button><br>
<h3>Avaliable Permissions: <span id="permissionsResult"></span></h3><br>

<hr>

<h2>Send transaction test</h2>
<button id="transactionTest-send">Send Transaction</button><br>
<h3>Transaction Status: <span id="transactionTest-status"></span></h3><br>

<hr>

<h2>Create transaction</h2>
<input type="text" name="buyer" id="create-buyer" size="10" placeholder="buyer" value="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266">
<input type="text" name="seller" id="create-seller" size="10" placeholder="seller" value="0x70997970C51812dc3A010C7d01b50e0d17dc79C8">
<input type="text" name="value" id="create-value" size="10" placeholder="value" value="5"> <br>
<button type="submit" id="create-btn">Create</button>
<h3>Transaction Create Status: <span id="create-status"></span></h3><br>

<hr>

<h2>Send Money For Subject</h2>
<input type="text" name="seller" id="sendB-seller" size="10" placeholder="seller" value="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"><br>
<button type="submit" id="sendB-btn">Send</button>
<h3>Send Money For Subject Status: <span id="sendB-status"></span></h3><br>

<hr>

<h2>Send Subject</h2>
<input type="text" name="buyer" id="sendS-buyer" size="10" placeholder="buyer" value="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"><br>
<button type="submit" id="sendS-btn">Send</button>
<h3>Send Subject Status: <span id="sendS-status"></span></h3><br>

<hr>

<h2>Cancel transaction</h2>
<input type="text" name="buyer" id="cancel-buyer" size="10" placeholder="buyer" value="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266">
<input type="text" name="seller" id="cancel-seller" size="10" placeholder="seller" value="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"><br>
<button type="submit" id="cancel-btn">Cancel</button>
<h3>Transaction cancel Status: <span id="cancel-status"></span></h3><br>

<hr>

<h2>Approve transaction</h2>
<input type="text" name="seller" id="approve-seller" size="10" placeholder="seller" value="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"><br>
<button type="submit" id="approve-btn">Approve</button>
<h3>Transaction Approve Status: <span id="approve-status"></span></h3><br>

<hr>

<h2>Disapprove transaction</h2>
<input type="text" name="seller" id="disapprove-seller" size="10" placeholder="seller" value="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"><br>
<button type="submit" id="disapprove-btn">Disapprove</button>
<h3>Transaction Disapprove Status: <span id="disapprove-status"></span></h3><br>

<hr>

<script src="/js/EscrowChain.js"></script>