<h1>Test Metamask</h1>


<button id="metamask-login">Enable Ethereum</button>
<h2>Account: <span id="show-account"></span></h2>

<script>
    const metamaskLogin = document.querySelector('#metamask-login');
    const showAccount = document.querySelector('#show-account');

    metamaskLogin.addEventListener('click', () => {
        if (typeof window.ethereum !== 'undefined') {
            getAccount();
            return;
        }
        showAccount.innerHTML = "MetaMask isn`t installed!";
    });

    async function getAccount() {
        const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        const account = accounts[0];
        showAccount.innerHTML = account;
    }
</script>