body {
  h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  // margin: 0;
  display: flex;
  // flex-direction: column;
  position: relative;
}

.base-container {
  height: auto !important;
  max-width: 960px;
}

#create-container {
  position: relative;
}



.op-0 {
  opacity: 0 !important;
  z-index: -1;
}
.op-1 {
  opacity: 50% !important;
  z-index: 5;
}

.start-animation {
  animation: start 0s ease-in;
  transition: opacity 1s ease-in;
}
@keyframes start {
  from {z-index: -1;};
  to {z-index: 5;};
}

.end-animation {
  transition: opacity 1s ease-in;
  animation: end 3s ease-in;
}
@keyframes end {
  from {z-index: 5;};
  to {z-index: -1;};
}


.spinner-border {
  margin: auto;
}

#main {
  height: 100%;
  min-width: 540px;
  display: flex;
  flex-direction: column;

  .deal-details {
    height: auto;
    margin: auto;
    @media (min-width: 768px) {
      width: 100%;      
    }

    #inputBody,
    #historyBody {
      margin-top: 0;
    }
    .form-check {
      padding-left: 0;

      .container-sm {
        padding-left: 0;
        margin: 0.5rem 0;
      }

      .div-address {
        width: auto;
        margin-bottom: 0.5rem;
      }

      #address {
        margin-bottom: 0;

        display: flex;
        flex-direction: row;

        #my-addr {
          margin-bottom: 0;
        }
        #show-account {
          margin-left: 0.5rem;
          font-size: 1rem;
          margin-bottom: 0;
        }
      }

      #connectButton {
        margin-top: 0.5rem;
      }
    }

    #create-deal-btn {
      .toast-body {
        padding: 0;

        .toast-body-div {
          margin-bottom: 0;
        }
      }
    }
  }
}

.history-div {
  width: 80%;
}

.text-container {
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 425px) {
    font-size: 15px !important;
  }
}

.text-muted {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast-body {
  padding: 0;

  #toast-msg {
    margin-bottom: 0;
  }
}

#fee-container {
  display: flex;
  flex-direction: row;
  padding-left: 0;

  .fee-buyer,
  .fee-seller {
    margin-left: 0.5rem;
  }
}

.btn-width {
  width: 70px !important;
}

#buttonSection {
  display: flex !important;
  justify-content: end;
  float: right;

  button {
    margin-left: 0.5rem;
  }
}


